.containerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    background-color: #E5E5E5;
    border-radius: 5px;
    padding: 5px;
}

.containerOne label {
    color: black;
}

.containerOne input{
    padding: 5px;
    background-color: #E5E5E5;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 85%;
}

.imageee {
    object-fit: contain;
    width: 10%;
    height: 20px;
}

:root{
    --cor-primaria: #1c6e8c;
    --cor-primaria-dark: #274156;
    --cor-texto: #605856;
    --cor-fundo: #FBFCFF;
    --cor-borda: #605856;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.label {
    color: var(--cor-texto);
    display: block;
    font-family: sans-serif;
    margin-top: 10px;
    
}

.input {
    margin-top: 10px;
    padding: 10px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid var(--cor-borda);
}

.cabecalho {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    padding: 10px;
}

.form {
    margin: 10px;
}

.botao{
    background-color: var(--cor-primaria-dark);
    color: var(--cor-fundo);
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.atendimento {
    width: 280px;
    height: 160px;
    resize: none;
    margin-top: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
}

.select {
    width: 280px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
}